.inter font {
    font-family: "Inter", sans-serif;
    font-style: normal;
}

.header {
    background-color: #FBFBFB;
    font-family: "Inter", sans-serif;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.head {
    background-color: #FFFFFF;
    width: 1600px;
    padding-top: 16px;


}

nav {
    width: 1600px;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}

.pointer {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
    font-family: "Inter", sans-serif;

}

.pointer li a {
    color: #000000;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

.btn {
    list-style: none;
    display: flex;
    align-items: center;
    width: 164px;
    height: 44px;
    gap: 10px;
    padding: 16px 12px;
    border-radius: 4px;
    background-color: #469165;
    color: white;
    font-family: "Inter", sans-serif;
    justify-content: center;
    margin-right: 44px;
}

.pic {
    margin-left: 44px;
}

.main {
    text-align: center;
    width: 1600px;
    height: 674px;
    background-image: url(hero-bg.png);
    gap: 40px;
    padding: 120px 70px 120px 134px;
}

.section {
    text-align: center;

}

.circle {
    border-radius: 50%;
    padding-top: 32px;
    width: 1360px;
    height: 379px;

}

.Early {
    width: 229px;
    height: 35px;
    text-align: center;
    padding: 8px 12px 8px 12px;
    border-radius: 1000px;

    background-color: #FFFFFF;
    font-family: "Inter", sans-serif;
    color: #469165;

}

.Ami {
    font-family: "Inter", sans-serif;
    width: 760px;
    height: 168px;
    margin-left: 300px;
}

.first {
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
}

.second {
    color: #30B868;
    font-family: "Inter", sans-serif;
}

.third {

    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    line-height: 24px;
    font-size: small;
}

.get {
    width: 251px;
    height: 52px;
    padding: 16px 12px 16px 12px;
    gap: 10px;
    text-align: center;
    border-radius: 4px;
    background-color: #469165;
    color: white;
    font-family: "Inter", sans-serif;
}

.watch {
    width: 198px;
    height: 52px;
    padding: 16px 12px 16px 12px;
    border-radius: 4px;


}

.box-color {
    background-color: #F95555;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    margin: 100px 0px 0px 90px;
    text-align: center;
}

.box-code {
    background-color: #F95555;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    margin: 100px 0px 0px 90px;
    text-align: center;

}

.box-get {
    background-color: #F95555;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    margin: 100px 0px 0px 90px;
    text-align: center;

}

.box-set {
    background-color: #F95555;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    margin: 100px 0px 0px 90px;
    text-align: center;

}

.chobi {
    width: 27px;
    height: 29px;
    padding: 17px 17px 25px 17px;
}

.chobi-2 {
    width: 27px;
    height: 29px;
    padding: 17px 17px 25px 17px;
}

.chobi-3 {
    width: 27px;
    height: 29px;
    padding: 17px 17px 25px 17px;
}

.chobi-4 {
    width: 27px;
    height: 29px;
    padding: 17px 17px 25px 17px;
}

.note {
    font-family: "Inter", sans-serif;
    width: 1600px;
    height: 448px;
    margin: 0 auto;
    padding-left: 120px;
    padding-right: 120px;

}

.h1 {
    text-align: center;
    width: 1360px;
    height: 152px;
}

.ash {
    color: #627382;
}



.box-note {
    width: 320px;
    height: 300px;

    text-align: center;
    gap: 24px;


}

.box-page {
    width: 320px;
    height: 300px;

    text-align: center;
    gap: 24px;

}

.box-follow {
    width: 320px;
    height: 300px;

    text-align: center;
    gap: 24px;

}

.box-fb {
    width: 320px;
    height: 300px;

    text-align: center;
    gap: 24px;

}

.box {
    display: flex;
    gap: 24px;
}

.noun {
    color: #627382;
}

.bodytwo {
    display: flex;
    width: 1360px;
    height: 600px;
    margin-top: 120px;
    margin-left: 120px;
    margin-right: 120px;
}

.two {
    width: 720px;
    height: 396px;

}

.top {
    width: 720px;
    height: 20px;

    font-family: "Inter", sans-serif;
    color: #469165;
    font-size: medium;
}

.big {
    font-family: "Inter", sans-serif;
    font-size: large;
    font-weight: bold;
    font-size: 48px;
    width: 700px;
    height: 116px;
    color: #001931;

    margin-top: 16px;
}

.para {
    width: 700px;
    height: 60px;
    font-family: "Inter", sans-serif;

    color: #627382;
    font-weight: normal;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #001931;
}

.list {
    padding: 0;
    width: 700px;
    height: 128px;

    margin-top: 40px;

}

.semifinal {
    font-family: "Inter", sans-serif;
    width: 1360px;
    height: 384px;
    background-color: #F7F6F2;
    text-align: center;
    margin-top: 120px;
    margin-left: 120px;
    margin-right: 120px;
}

.match {
    width: 1280px;
    height: 112px;
    margin-top: 80px;

}

.glass {
    width: 1280px;
    height: 48px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: #001931;
}

.choto {
    color: #627382;
    font-family: "Inter", sans-serif;
    font-weight: normal;
}

.switch {
    margin-top: 24px;

    width: 1280px;
    height: 48px;
    text-align: center;
}

.green {
    background-color: #469165;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    width: 194px;
    height: 52px;
    border-radius: 4px;
    padding: 16px 12px 16px 12px;
}

.red {
    width: 1280px;
    height: 20px;
    font-family: "Inter", sans-serif;
    color: #627382;
    font-size: small;
    padding-top: 10px;
}