.inter font {
    font-family: "Inter", sans-serif;
    font-style: normal;
}

.header {
    background-color: #FBFBFB;
    font-family: "Inter", sans-serif;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.head {
    background-color: #dc6f6f;
    width: 1600px;
    padding-top: 16px;


}

nav {
    width: 1600px;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}

.pointer {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
    font-family: "Inter", sans-serif;

}

.pointer li a {
    color: #000000;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

.btn {
    list-style: none;
    display: flex;
    align-items: center;
    width: 164px;
    height: 44px;
    gap: 10px;
    padding: 16px 12px;
    border-radius: 4px;
    background-color: #469165;
    color: white;
    font-family: "Inter", sans-serif;
    justify-content: center;
    margin-right: 44px;
}

.pic {
    margin-left: 44px;
}

.main {
    text-align: center;
    width: 1600px;
    height: 674px;
    background-image: url(hero-bg.png);
    gap: 40px;
    padding: 120px 70px 120px 134px;
}

.section {
    text-align: center;

}

.circle {
    border-radius: 50%;
    padding-top: 32px;
    width: 1360px;
    height: 379px;

}

.Early {
    width: 229px;
    height: 35px;
    text-align: center;
    padding: 8px 12px 8px 12px;
    border-radius: 1000px;

    background-color: #FFFFFF;
    font-family: "Inter", sans-serif;
    color: #469165;

}

.Ami {
    font-family: "Inter", sans-serif;
    width: 760px;
    height: 168px;
    margin-left: 300px;
}

.first {
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
}

.second {
    color: #30B868;
    font-family: "Inter", sans-serif;
}

.third {

    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    line-height: 24px;
    font-size: small;
}

.get {
    width: 251px;
    height: 52px;
    padding: 16px 12px 16px 12px;
    gap: 10px;
    text-align: center;
    border-radius: 4px;
    background-color: #469165;
    color: white;
    font-family: "Inter", sans-serif;
}

.watch {
    width: 198px;
    height: 52px;
    padding: 16px 12px 16px 12px;
    border-radius: 4px;


}